<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="nav-section">
        <img src="../static/images/logo.png" alt="">
    <ul>
        <li><a href="../templates/login.html" target="_blank_">login</a></li>
        <li><a href="../templates/signup.html" target="_blank_">sign up</a></li>
        <li><a href="#track">Track Order</a></li>
    </ul>
    </div><br>
    <div class="main-section">
        <h1>Welcome to Angelic Threads</h1>
        <ul>
            <li><a href="#shop">SHOP</a></li>
            <li><a href="#new">NEW ARRIVALS</a></li>
            <li><a href="#collections">NEW COLLECTIONS</a></li>
            <li><a href="#meet">MEET THE TEAM</a></li>
            <li><a href="#cart">CART</a></li>
        </ul><hr>
    </div>
    <div>
        No Items in Cart...
    </div>
</body>
</html>