<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angelic Threads</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="nav-section">
        <img src="../static/images/logo.png" alt="">
    <ul>
        <li><a href="../templates/login.html" target="_blank_">login</a></li>
        <li><a href="../templates/signup.html" target="_blank_">sign up</a></li>
        <li><a href="#track">Track Order</a></li>
    </ul>
    </div><br>
    <div class="main-section">
        <h1>Welcome to Angelic Threads</h1>
        <ul>
            <li><a href="#shop">SHOP</a></li>
            <li><a href="#shop">NEW ARRIVALS</a></li>
            <li><select>
                <option value="mail us"></option>
                <option value="call us"></option>
            </select><a href="#shop">NEW COLLECTIONS</a></li>
            <li><a href="#meet">MEET THE TEAM</a></li>
            <li><a href="../templates/cart.html">CART</a></li>
        </ul><hr>
    </div>
    <div class="body-section">
        <div class="text-section">
            <h2>NEW ARRIVALS</h2>
            <p>
                Is it time to give your wardrobe a zing?<br>
                
                Choose from an assorted range of handwoven six yards, fresh off the loom.
                
            </p>
        </div>
        <div class="img-section">
            <img src="../static/images/img.png" alt="">
        </div>
    </div><br><br>
    <div class="sort-section">
        <ul>
            <li><a href="#sort">SORT</a></li>
            <li><a href="#filter">FILTER</a></li>
        </ul>
    </div>
    <div class="dress-section" id="shop">
        <div class="dress-section1">
            <img src="../static/images/dress1.png" alt="">
            <img src="../static/images/dress2.png" alt="">
            <img src="../static/images/dress3.png" alt="">
            <img src="../static/images/dress4.png" alt="">
        </div><br><br>
        <div class="text1">
            <P>NIMRAT<br>
               RS. 12,600</P>
            <p>KIMAYA<br>
                RS. 13,500</p>
            <p>NAAZ<br>
                RS. 10,400</p>
            <p>FARAH<br>
                RS. 10,400</p>
        </div>
        <div class="dress-section2">
            <img src="../static/images/dress5.png" alt="">
            <img src="../static/images/dress6.png" alt="">
            <img src="../static/images/dress7.png" alt="">
            <img src="../static/images/dress8.png" alt="">
        </div>
        <div class="text2">
            <P>URMI<br>
               RS. 10,800</P>
            <p>AADYA<br>
                RS. 4,500</p>
            <p>DEVI<br>
                RS. 8,950</p>
            <p>RUDRANI<br>
                RS. 8,950</p>
        </div>
        <div class="dress-section3">
            <img src="../static/images/dress9.png" alt="">
            <img src="../static/images/dress10.png" alt="">
            <img src="../static/images/dress11.png" alt="">
            <img src="../static/images/dress12.png" alt="">
        </div>
        <div class="text3">
            <P>KASHISH<br>
            RS. 9,500</P>
            <p>RAGINI<br>
                RS. 9,500</p>
            <p>LEILA<br>
                RS. 5,700</p>
            <p>NANDINI<br>
            RS. 1,450</p>
        </div>
    </div>
    <footer class="footer-section">
        <hr>
        <div class="footer">
            <div class="explore-section">
                <p>
                EXPLORE<br><br>
                Our Story<br><br>
                FAQs<br><br>
                Shop<br><br>
                Search<br><br>
                Blog<br><br>
                </p>
            </div>
            <div class="service-section">
                <p>CUSTOMER SERVICE<br><br>
                    Shipping & Delivery Policy<br><br>
                    Cancellation & Refund Policy<br><br>
                    Contact Us<br><br>
                    Terms of Service</p>
            </div>
            <div class="terms-section">
                TERMS<br><br>
                Terms and Conditions<br><br>
                Privacy Policy<br><br>
                Disclaimer Policy<br><br>
            </div>
            <div class="about-section">
                ABOUT THE STORE<br><br>
                We endeavor to blend India’s artistic traditions, hinged with modern functionality and aesthetics.<br><br>
                Join us in our journey as we strive to bring the finest woven<br><br> stories straight out of the looms of India, hand-crafted with <br><br>love.
            </div>
        </div>
    </footer>
</body>
</html>