.nav-section{
    float:left;
    width:100%;
    position: fixed;
    background-color: white;
    top:0;
}
.nav-section ul{
    margin:1% 0% 0% 65%;
}
.nav-section img{
    width:25px;
    float:left;
}
.nav-section li{
    display:inline;
    text-decoration: none;
    margin:0% 0% 0% 6.5%;
    font-size: 20px;
    font-family: "Century Gothic", sans-serif;
    color: rgb(92,92,92);
}
.nav-section img{
    width:25px;
    float:left;
    margin:0% 60% 0% 0%;
}
a{
    font-family: "Century Gothic", sans-serif;
    color: rgb(92,92,92);
    text-decoration: none;
}
.main-section h1{
    text-align: center;
}
.main-section ul{
    text-align: center;
}
.main-section li{
    display:inline;
    margin:0% 4.5% 0% 0%;
    font-size: 20px;
    font-family: "Century Gothic", sans-serif;
    color: rgb(92,92,92);
}
.main-section a{
    font-family: "Century Gothic", sans-serif;
    color: rgb(92,92,92);
}
.body-section{
    float:left;
    width:100%;
}
.text-section{
    float:left;
    width:50%;
    text-align: center;
    margin:6% 0% 0% 0%;
}
.text-section p{
    font-size: 20px;
}
.img-section{
    float:left;
    width:50%;
}
.img-section img{
    width:90%;
}
.sort-section{
    float:left;
    width:100%;
    margin:2% 0% 0% 0%;
}
.sort-section ul{
    margin:1% 0% 0% 80%;
}
.sort-section li{
    display:inline;
    margin:0% 0% 0% 6.9%;
    font-size: 20px;
}
.dress-section{
    float:left;
    width:100%;
}
.dress-section1,.dress-section2,.dress-section3{
    float:left;
    width:100%;
}
.dress-section1 img,.dress-section2 img,.dress-section3 img{
    float:left;
    width:20%;
    margin:2% 2.5% 0% 2.5%;
}
.text1 p,.text2 p,.text3 p{
    float:left;
    width:20%;
    margin:0% 2.5% 0% 2.5%;
    text-align: center;
    font-family: "Century Gothic", sans-serif;
    color: rgb(92,92,92);
    font-weight: 400;
}
.footer-section{
    float:left;
    width:100%;
    margin: 8% 0% 0% 0%;
}
.footer{
    float:left;
    margin:6% 0% 6% 11%;
}
.explore-section{
    float:left;
    width:20%;
    font-family: "Century Gothic", sans-serif;
    color: rgb(92,92,92);
    font-weight: 400;
    margin: auto;
}
.service-section{
    float:left;
    width:23%;
    font-family: "Century Gothic", sans-serif;
    color: rgb(92,92,92);
    font-weight: 400;
    margin: auto;
}
.terms-section{
    float:left;
    width:20%;
    font-family: "Century Gothic", sans-serif;
    color: rgb(92,92,92);
    font-weight: 400;
    margin: auto;
}
.about-section{
    float:left;
    width:37%;
    font-family: "Century Gothic", sans-serif;
    color: rgb(92,92,92);
    font-weight: 400;
    margin: auto;
}
.signup-section{
    margin:5% 0% 0% 0%;
    text-align: center;
}
.form-elements{
    margin:1% 0% 0% 0%;
    font-size: 20px;
}
.btn{
    background-color:gray;
    margin:1% 0% 0% 0%;
    font-size: 20px;
}
.login-section{
    margin:15% 0% 0% 0%;
    text-align: center;
}